A組.pptx
15頁摘要v5.pdf
GPT2/apex
GPT2/model/final_model/config.json
GPT2/model/final_model/pytorch_model.bin
GPT2/model/model_epoch100/config.json
GPT2/model/model_epoch100/pytorch_model.bin
GPT2/model/model_epoch10_modern/config.json
GPT2/model/model_epoch10_modern/pytorch_model.bin
GPT2/model/model_epoch10_modern/vocab.txt
GPT2/apex

